.profile-page {
    min-height: 100vh;
    background-image: url("../../assets/profile_page.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .profile {

    height: 120px;
    width: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../assets/farmer.png"); 
    border-radius: 50%;
  }