body {
	background:#fff;
}

a.border.nav-link.border-light.rounded.mr-1 {
  color: #3F729B;
}

a.border.nav-link.border-light.rounded.mr-1:hover {
  color: #1C2331;
}
 
.nav-link.active{
  background-color: rgba(255, 255, 255, 0.1);
}

#categories > .col-md-4.mb-5{
  margin-bottom: 8rem !important;
}

.category-card {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}


.vertical-center {
  min-height: 100%;
  display: flex;
  align-items: center;
}

.masker-categories {
  height: 100%;
  background: linear-gradient(
    rgba(20, 20, 26, 0.5), 
    rgba(42, 41, 49, 0.5)
  );
  margin: 0;
  padding: 0;
}